page-calcular {

  .imgFooter{
    width: auto;
    margin: auto;
    display: block;
  }

  .labelBlack{
    text-align: center;
  }

  .imgPrueba{
    margin: auto;
    height: 130px;
    width: 130px;
    display: block;
  }

  .btnCalculadora{
      background-color: #C25E7B;
  }

  .btnEnviar{
      background-color: #4185DE;
  }

  .txtRecomendaciones{
    text-align: justify;
  }

}
