page-calculadora {

  .labelBlack{
    text-align: center;
  }

  .btnCalcular{
    background-color: #C25E7B;
  }

  .imgFooter{
    width: auto;
    margin: auto;
    display: block;
  }

  .datos{
     color: #BDC3C7;
   }

.label{
    color: #17202A ;
  }

}
